.flats {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.flat {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.flat:hover {
  opacity: .8;
}
.flat-picture {
  height: 200px;
  background-size: cover;
  background-position: center;
}
.flat-title {
  margin-top: 10px;
  font-weight: bold;
}